body{
    font-family: Papyrus, fantasy;
    text-align: center;
    background-color: black;
    font-size: 200%;
    font-weight:bold;
}


p{
    text-align: left;
    background-color: coral;
    font-size: 150%;
    color: whitesmoke;
}


.heading{
    color: whitesmoke;
}


.add{
    background-color: green;
    font-size: 100%;
    color: whitesmoke;
    margin: 20px;
    padding: 10px;
   
}


.subtract{
    background-color: red;
    font-size: 100%;
    color: whitesmoke;
    margin: 20px;
    padding: 10px;
}


.totalAmount{
    background-color: cyan;
    font-size: 150%;
    color: whitesmoke;
    margin: 75px;
    padding: 10px;
}